.container {
    background-color: #1a1a1a;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mustica Pro Sans Serif', sans-serif;
}

.boxImg {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.boxForm {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.boxImg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

h1 {
    color: #fff;
    margin-bottom: 1em;
}

.form {
    padding: 30%;
}
