.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Mustica Pro Sans Serif', sans-serif;
}

.box-img {
    flex: 1;
    background-image: url('../../assets/login.png');
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.box-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
}
