.container {
    background-image: url('../../assets//loginImg.svg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mustica Pro Sans Serif', sans-serif;
    color: #57333a;
}

.box-form {
    width: 25vw;
    height: 20vw;
    border-radius: 20px;
    background-color: #fdf3da;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.form {
    margin: 0 auto;
}

h1 {
    color: #57333a;
    margin-bottom: 1em;
}
