.box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box-forgot-password {
    color: #000;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

.custom-button {
    background-color: #b10614 !important;
    border-color: #b10614 !important;
}

h1 {
    color: #b10614;
}

p {
    color: gray;
}
